/*公共样式*/
p,h1,h2,h3,h4,h5,h6,body,ul,ol,dl,pre{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
body{
	background:#f6f6f6;
}
input,button,select,textarea{outline:none;}
/*字体颜色*/
.ztys{
	color:#666;
}

