.box{
    width:400px;
    height:250px;
    margin:60px auto 0;
    text-align:center;
    box-shadow:0 0 5px 3px #eee;
}
.box>div:nth-child(1){
    background:#F86D6D;
    color:#fff;
    height:40px;
    line-height:40px;
    text-align:left;
    padding-left:30px;
}
.box>div:nth-child(2){
    margin-top:30px;
}
.box>div:nth-child(3){
    margin-top:25px;
}
.box>a:nth-child(4){
    display:block;
    margin-top:25px;
    color:#39f;
}